html
	head
		title= title
		link(rel='stylesheet', href='../css/jquery.jscrollpane.css')
		link(rel='stylesheet', href='../css/style.css')
		script(src='../js/socket.io.min.js')
		script(src='../js/jquery-2.1.0.min.js')
		script(src='../js/openpgp.min.js')
		script(src='../js/mwheelIntent.js')
		script(src='../js/jquery.jscrollpane.min.js')
		script(src='../js/base64.js')
		script(src='../js/app.js')
	body
		block content