extends room_layout

block content
	h1 Welcome to the room
	.room_details
		p Password: #{room.password}
		p UID: #{room.id}
	.scroll-pane.jspScrollable
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste
		p teste